{% if saved is defined and saved %}
    {% set messageText = 'Successfully updated' %}
    {% set widgetResponse = {
        widget: {
            message: messageText|trans,
            triggerSuccess: true,
            remove: true
        }
    } %}
    {{ widgetResponse|json_encode|raw }}
{% else %}
    {% set pageComponentOptions = {
        '_wid': app.request.get('_wid'),
        'savedId': savedId is defined and savedId ? savedId : null
    } %}
    <div class="widget-content"
         data-page-component-options="{{ pageComponentOptions|merge({message: 'Success'})|json_encode }}" >
        {% if form.vars.errors|length > 0 %}
            <div class="alert alert-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {{ form_start(form, {
            'action': app.request.uri,
            'attr': {
                'id': form.vars.id,
                'data-collect': 'true',
                'class': 'form-dialog',
            }
        }) }}
        <fieldset class="form-horizontal">
            {{ form_row(form.record.amount ) }}
            {{ form_row(form.record.date ) }}
            {{ form_row(form.record.memo ) }}
            {{ form_row(form.record.category ) }}
        </fieldset>

        <div class="hidden">
            {{ form_rest(form) }}
        </div>

        <div class="widget-actions">
            <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
            <button type="submit" class="btn btn-success">{{ 'Save'|trans }}</button>
        </div>
        {{ form_end(form) }}
        {{ oro_form_js_validation(form) }}
    </div>
{% endif %}